<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/add_product.css" />
</head>


<body>
  <%- include('../layout/nav.ejs') %>
    <main>
        <% if (prods.length> 0){ %>
            <div class="grid">
                <% for(let product of prods) { %>
                    <article class="card.product-item">
                        <header class="card_header">
                            <h1 class="product__title">
                                <%= product.productTitle %>
                            </h1>
                        </header>
                        <div class="card_image">
                            <img src="<%= product.imageUrl %>"
                                , alt="A Book" />
                        </div>
                      
                        <div class="card_content">
                            <h2 class="product__price"><%= `$ ${product.productPrice}` %></h2>
                            <p class="product__description">
                                <%= product.productDiscription %>
                            </p>
                        </div>
                        <div class="card_actions">
                            <a href="/product-details/<%=product.id %>" class="btn" >Details</a>
                          
                            <a href="/admin/edit-products/<%=product.id %>" class="btn" >Edit</a>
                            <a href="/admin/deleteProducts/<%=product.id %>" class="btn" >Delete</a>
                            
                         
                            <form action="/carts" method="post">
                                <button class="btn">Add to Cart</button>
                                <input type="hidden" name="prodsId" value="<%=product.id%>">
                               </form>
                        </div>
                    </article>
                    <% } %>
            </div>
            <% } else{ %>
                <h1>
                    No Products found
                </h1>
                <% } %>
    </main>
</body>

</html>